.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.tshirt-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
}
.cart-container{
    border: 1px solid #ccc;
}
